# Lecture 16

In [ ]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np
from numpy import nan as NaN

### Handling missing data
* Filtering out missing values

In [ ]:
data = Series([1, NaN, 2.5, NaN, 6])
print(data.dropna(),"\n")#drops rows that have any NaN
print(data,"\n")
print(data.notnull(),"\n")
print(data[data.notnull()],"\n")#returns only rows that dont't have any NaN

In [ ]:
data = DataFrame([[1, 2, 3], [1, NaN, NaN], [NaN, NaN, NaN], [NaN, 4, 5]])
print(data,"\n")
print(data.dropna(),"\n") #drops rows that have any NaN
print(data.dropna(how='all')) #drops if all data values in row are NaN
print(data.dropna(axis=1, how='all'))#drops if all data values in row are NaN
data[4]=NaN#makes all of column 4 into NaN
print(data,"\n")
print(data.dropna(axis=1, how='all'))#drops if all data values in row are NaN

### fill in missing data

In [ ]:
print(data,"\n")
print(data.fillna(0),"\n") #fills all NaN values with zero

#Modify the dataframe instead of returning a new object (default)
data.fillna(0, inplace=True)
print(data,"\n")

data = DataFrame([[NaN, 9, 9], [NaN, 7, 2.0], [4.0, 8, 9.0], [3.0, 4, NaN]]) 
print(data,"\n")
print(data.fillna(data.mean(skipna=True)),"\n") #replace nan with column mean

### Hierarchical indexing for DataFrame

In [ ]:
dataSeries = Series(np.arange(10), index=[['a']*3+['b']*3+['c']*4, ['i','ii','iii']*3+['iv']])
print(dataSeries,"\n")
print(dataSeries.index,"\n")
print(dataSeries['b'],"\n")
print(dataSeries[:, 'ii'],"\n")

In [ ]:
#Unstack and stack
print(dataSeries.unstack(),"\n")
print(dataSeries.unstack().T.stack(),"\n")

In [ ]:
frame2 = DataFrame(np.arange(16).reshape(4,4),
                   index=[['a', 'a', 'b', 'b'], ['i','ii']*2], 
                   columns=[['c1', 'c1', 'c2', 'c2'], ['.1', '.2']*2])
print(frame2,"\n")
print(frame2.swaplevel(-2, -1),"\n") #swapping the two rows

#frame2.swaplevel() or 
# frame2.swaplevel(-1, -2) or 
# frame2.swaplevel(0, 1) or 
# frame2.swaplevel(1, 0)

print(frame2.swaplevel(-2, -1, axis=1)) #swapping columns

### Use DataFramecolumns as indices
* set_index

In [ ]:
df= DataFrame({'a':range(7),
               'b':range(7,0,-1),
               'c':['one']*3+['two']*4,
               'd':[0,1,2]*2+[3]})
print(df,"\n")

df2=df.set_index(['c', 'a']) #swap 'c' and 'a', to make 'c' the index column
print(df2,"\n")

print(df2.loc['one'],"\n") #calls and returns values under index 'one'

### Data loading, storage and file formats
* Data loading, storage and file formats
* Other options are available